[Unit]
Description=Github independant builder for Jenkins

[Service]
EnvironmentFile=/etc/jenkins-ghb.conf
WorkingDirectory=/var/lib/jenkins/ghb
ExecStart=/usr/local/bin/jenkins-ghb bot
User=jenkins
Restart=always
RestartSec=120

[Install]
WantedBy=multi-user.target
