[Unit]
Description=Jenkins GitHub poller

[Service]
Environment=SYSTEMD=1
EnvironmentFile=/etc/jenkins-epo.conf
WorkingDirectory=/var/lib/jenkins/epo
ExecStart=/usr/local/bin/jenkins-epo bot
KillSignal=SIGINT
User=jenkins
Restart=always
RestartSec=120

[Install]
WantedBy=multi-user.target
