[Unit]
Description=Jenkins GitHub poller

[Service]
Environment=SYSTEMD=1
EnvironmentFile=/etc/jenkins-ghp.conf
WorkingDirectory=/var/lib/jenkins/ghp
ExecStart=/usr/local/bin/jenkins-ghp bot
KillSignal=SIGINT
User=jenkins
Restart=always
RestartSec=120

[Install]
WantedBy=multi-user.target
